<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/298364d3-3dd3-43a5-b440-88fb9bb8023c/resourceGroups/Recurso_TIC/providers/Microsoft.ApiManagement/service/Backend-TIC/apis/echo-api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/298364d3-3dd3-43a5-b440-88fb9bb8023c/resourceGroups/Recurso_TIC/providers/Microsoft.Web/sites/service-tic</ResourceId>
    <ResourceGroup>Recurso_TIC</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://service-tic.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>62981984-a2ff-4298-bb20-045af41adae0</ProjectGuid>
    <PublishUrl>https://service-tic.scm.azurewebsites.net/</PublishUrl>
    <UserName>$service-tic</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>