################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
bin
obj
*.user
node_modules

/CloudERPFEPON/CloudERPFEPON.csproj
/backendfepon/Secrets/*